.circleOut {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 0;
	height: 0;
}

.circleOut:before {
	position: relative;
	top: -2.3em;
	left: -2.5em;
	display: block;
		-moz-box-sizing: border-box;
                   box-sizing: border-box;
              margin: 0 auto;
              width: 5em;
              height: 5em;
              border: 0.5em solid #FA8258;              
              border-radius: 100%;
              content: "";
              -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                      transform-origin: center;
              -webkit-animation-name: fadeOut;
                      animation-name: fadeOut;
              -webkit-animation-duration: 2s;
                      animation-duration: 2s;
              -webkit-animation-timing-function: ease-in-out;
                      animation-timing-function: ease-in-out;
              -webkit-animation-delay: -1.5s;
                      animation-delay: -1.5s;
              -webkit-animation-iteration-count: infinite;
                      animation-iteration-count: infinite;
              -webkit-animation-direction: forwards;
                      animation-direction: forwards;
}

.circleOut:after {
	position: absolute;
              top: -2.3em;
              left: -2.5em;
              display: block;
              -moz-box-sizing: border-box;
                   box-sizing: border-box;
              margin: 0 auto;
              width: 5em;
              height: 5em;
              border: 0.2em solid #FA8258;
              border-radius: 100%;
              content: "";
              -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                      transform-origin: center;
              -webkit-animation-name: fadeOut;
                      animation-name: fadeOut;
              -webkit-animation-duration: 2s;
                      animation-duration: 2s;
              -webkit-animation-timing-function: ease;
                      animation-timing-function: ease;
              -webkit-animation-delay: -1.5s;
                      animation-delay: -1.5s;
              -webkit-animation-iteration-count: infinite;
                      animation-iteration-count: infinite;
              -webkit-animation-direction: forwards;
                      animation-direction: forwards;
}

.circleOutPos {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 0;
  height: 0;
}

.circleOutPos:before {
  position: relative;
  top: -2.3em;
  left: -2.5em;
  display: block;
    -moz-box-sizing: border-box;
                   box-sizing: border-box;
              margin: 0 auto;
              width: 5em;
              height: 5em;
              border: 0.5em solid #00ff00;              
              border-radius: 100%;
              content: "";
              -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                      transform-origin: center;
              -webkit-animation-name: fadeOut;
                      animation-name: fadeOut;
              -webkit-animation-duration: 2s;
                      animation-duration: 2s;
              -webkit-animation-timing-function: ease-in-out;
                      animation-timing-function: ease-in-out;
              -webkit-animation-delay: -1.5s;
                      animation-delay: -1.5s;
              -webkit-animation-iteration-count: infinite;
                      animation-iteration-count: infinite;
              -webkit-animation-direction: forwards;
                      animation-direction: forwards;
}

.circleOutPos:after {
  position: absolute;
              top: -2.3em;
              left: -2.5em;
              display: block;
              -moz-box-sizing: border-box;
                   box-sizing: border-box;
              margin: 0 auto;
              width: 5em;
              height: 5em;
              border: 0.2em solid #FA8258;
              border-radius: 100%;
              content: "";
              -webkit-transform-origin: center;
                  -ms-transform-origin: center;
                      transform-origin: center;
              -webkit-animation-name: fadeOut;
                      animation-name: fadeOut;
              -webkit-animation-duration: 2s;
                      animation-duration: 2s;
              -webkit-animation-timing-function: ease;
                      animation-timing-function: ease;
              -webkit-animation-delay: -1.5s;
                      animation-delay: -1.5s;
              -webkit-animation-iteration-count: infinite;
                      animation-iteration-count: infinite;
              -webkit-animation-direction: forwards;
                      animation-direction: forwards;
}

            @-webkit-keyframes fadeOut {
              0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
              }
              50% {
                opacity: 1;
              }
              100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 0;
              }
            }

            @keyframes fadeOut {
              0% {
                -webkit-transform: scale(0);
                        transform: scale(0);
              }
              50% {
                opacity: 1;
              }
              100% {
                -webkit-transform: scale(1);
                        transform: scale(1);
                opacity: 0;
              }
            }
#grad12 {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}

   #map {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
   }
   #info {
     position: absolute;
     height: 1px;
     width: 1px;
     z-index: 100;
   }
   .tooltip.in {
     opacity: 1;
     filter: alpha(opacity=100);
   }
   .tooltip.top .tooltip-arrow {
     border-top-color: white;
   }
   .tooltip-inner {
     border: 2px solid white;
   }

table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;    
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;         
}

.bordered tr:hover {
    background: #F09300;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;     
}    
    
.bordered td, .bordered th {
  font-family: Arial, Helvetica, sans-serif;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;    
}

.bordered tr {
    background-color: #fff;
 }

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset; 
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;  
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;        
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5); 
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 1px 0 0 0;
    -webkit-border-radius: 1px 0 0 0;
    border-radius: 1px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 1px 0 0;
    -webkit-border-radius: 0 1px 0 0;
    border-radius: 0 1px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 1px 1px 0 0;
    -webkit-border-radius: 1px 1px 0 0;
    border-radius: 1px 1px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 1px;
    -webkit-border-radius: 0 0 0 1px;
    border-radius: 0 0 0 1px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 1px 0;
    -webkit-border-radius: 0 0 1px 0;
    border-radius: 0 0 1px 0;
}

.toggle {
    width: 100px;
  }
  .ol-mouse-position {
    right: 5px;
    color: #fff;
    background-color: rgba(0,60,136,.5);
    padding: 2px 10px;
    border-radius: 5px;
  }

  .ol-scale-line {
    left: 50px;
  }

  .ol-rotate {
    top: 3em;
  }

  

.ol-zoom {
   right: unset;
   left: 8px;
   top: unset;
   bottom: 8px;
}


  .ol-zoomslider {
    width: 200px;
    height: 25px;
    left: 5em;
    top: 7px;
  }
  .ol-zoomslider-thumb {
    height: 16px;
  }


#attr-button-logout
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_logout.png");
}

#attr-button-conf
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/conf.png");
}

#attr-button-device
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_device.png");
}

#attr-button-graphs
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_graph.png");
}

#attr-button-calendar
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_calendar.png");
}

#attr-button-menu
{
    position:absolute;
    top: 5px;
    left: 5px; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_menu.png");
}

#attr-button-pois
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_pois.png");
}

#attr-button-globe
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_globe.png");
}

#attr-button-gmap
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_gmap.png");
}

#attr-button-update
{
    position:absolute; 
    z-index:100; 
    width:48px; 
    height:48px; 
    background-image: url("./img/button_update.png");
}


  .attr-chart
  {
    height: 100px;
    margin: 0 auto;
  }

.highcharts-background {
  fill: #efefef;
  stroke: #a4edba;
  stroke-width: 2px;
}

  #attr-logo
  {
    position:absolute; 
    z-index:100; 
    width:230px; 
    height:106px; 
    background-image: url("./img/kyroslbs.png");
    background-size: 100% 100%;
    //background-size: cover;
  }

#attr-loading
{
    position:absolute; 
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    z-index:100; 
    width:128px; 
    height:128px; 
    background-image: url("./img/loading.gif");
}
  

#deviceOdometer
{
  margin: 0 auto;
}


#monitorDiv{
    overflow-y: scroll;
}
